# Ignore environment files
.env

# Ignore Python cache and virtual environments
__pycache__/
venv/
*.pyc

# Ignore the local Chroma database
chromadb/

# macOS system files
.DS_Store

# Ignore raw data files
/transform/json/*